// init
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// color
.text-primary {
  color: $--color-primary;
}

.text-white {
  color: white;
}

.text-gray {
  color: gray;
}

.text-danger {
  color: #d32a2a;
}

.bg-primary {
  background-color: $--color-primary;
}

.bg-gray {
  background-color: gray;
}

// border-radius
.rounded-pill {
  border-radius: 123px;
}

.rounded {
  border-radius: 7px;
}

// icon
.icon-circle {
  border: 1px solid white;
  padding: 2px;
  border-radius: 50%;
}

.icon-circle-bg {
  border: 0;
  padding: 2px;
  border-radius: 50%;
}

// others
.cursor-pointer {
  cursor: pointer;
}

.box-size-border {
  box-sizing: border-box;
}

// 容器
.container {
  padding: 0 var(--padding-width);
  overflow-y: auto;
}