.theme-night {
  background-color: $--color-black;
  color: white;

  .sidebar {
    background-color: $--color-dark;
  }

  .sidebar-type-hover:hover {
    a {
      border-bottom: 1px solid white;
    }
  }

  .nuxt-link-exact-active {
    border-bottom: 1px solid white;
  }

  // vue-quill-editor toolbar color
  .ql-snow .ql-stroke {
    stroke: white;
  }

  .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: white;
  }
}

.theme-sunny {
  background-color: $--color-ghost-white;
  color: $--color-info;

  .sidebar {
    background-color: white;
  }

  .sidebar-type-hover:hover {
    a {
      border-bottom: 1px solid $--color-info;
    }
  }

  .nuxt-link-exact-active {
    border-bottom: 1px solid $--color-info;
  }

  // vue-quill-editor toolbar color
  .ql-snow .ql-stroke {
    stroke: $--color-info;
  }

  .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: $--color-info;
  }
}