.theme-night {
  background-color: $--color-black;
  color: white;

  .sidebar {
    background-color: $--color-dark;
  }

  .sidebar-type-hover:hover {
    a {
      border-bottom: 1px solid white;
    }
  }

  .nuxt-link-exact-active {
    border-bottom: 1px solid white;
  }

  // 工具欄 toolbar
  // 圖標
  .ql-snow .ql-stroke {
    stroke: white;
  }

  // 工具欄 align 下拉選單圖標顏色
  .ql-picker-options .ql-stroke {
    stroke: $--color-info;
  }

  // 工具欄 font size header 文字顏色
  .ql-picker .ql-picker-label  {
    color: white;
  }

  .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: white;
  }

  // Navbar select
  .select {
    .el-input--suffix .el-input__inner {
      color: white;
      background-color: $--color-dark;
    }
  }

  // Navbar notes view type
  .notes-view {
    background-color: $--color-dark;
  }

  // Cart
  .cart-box, .list-box {
    background-color: $--color-deep;
  }
}

.theme-sunny {
  background-color: $--color-ghost-white;
  color: $--color-info;

  .sidebar {
    background-color: white;
  }

  .sidebar-type-hover:hover {
    a {
      border-bottom: 1px solid $--color-info;
    }
  }

  .nuxt-link-exact-active {
    border-bottom: 1px solid $--color-info;
  }

  // vue-quill-editor toolbar color
  .ql-snow .ql-stroke {
    stroke: $--color-info;
  }

  .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: $--color-info;
  }

  // Navbar notes view type
  .notes-view {
    background-color: white;
  }

  // Cart
  .cart-box, .list-box {
    background-color: white;
  }
}