.theme-dark {
  background-color: $--color-black;
  color: white;

  .sidebar {
    background-color: $--color-dark;
  }

  .sidebar-type-hover:hover {
    span {
      border-bottom: 1px solid white;
    }
  }
}