$--color-primary: #84A5FF !default;       // 主題色
$--color-shadow: #0000000D !default;      // border-shadow
$--color-tag: #E6EDFF !default;           // 標籤背景

:root {
  --padding-width: 8vw;                     // 頁面 padding 寬度
  }

// 深色主題
$--color-black: #25272C !default;         // 背景
$--color-dark: #2F3136 !default;          // sidebar & select 背景
$--color-deep: #393B40 !default;          // card 背景


// 淺色主題
$--color-ghost-white: #F2F4F6 !default;   // 背景
$--color-info: #333333 !default;          // 文字



